<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Votações </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-ie7.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>

</head>
<body>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <div class="site-header">
        <div class="loginbtn">
            {% if user.is_authenticated %}
            <p> Bem Vindo {{ user.username }} </p>
            <a href="/logout" class="btnout">logout</a>
            {% else %}
            <a href="/register/" class="btnreg">register</a>
            <a href="/login/" class="btnin">login</a>
            {% endif %}

            <div id="titulo1"> <h1> {{ titulo }} </h1></div>

            {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Freguesia <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/heraldica">Heráldica</a></li>
                            <li><a href="/historia">História</a></li>
                            <li><a href="#">Património</a></li>
                            <li><a href="#">Mapa</a></li>
                            <li><a href="#">Instituições</a></li>
                            <li><a href="#">Equipamentos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Orgãos Autárquicos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><h2> Junta </h2></li>
                            <li><a href="/junta/competencias">Competências</a></li>
                            <li><a href="/junta/executivo">Executivo</a></li>
                            <hr><li><h2> Assembleia </h2></li>
                            <li><a href="/assembleia/competencias">Competências</a></li>
                            <li><a href="/assembleia/composicao">Composição</a></li>
                        </ul>
                    </li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/eventos">Atividades</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Gestão e Orçamento <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/planosdeacao">Planos de Acção</a></li>
                            <li><a href="/contas">Relatórios de Contas</a></li>
                            <li><a href="/actas">Actas de Reunião</a></li>
                            <li><a href="/outros">Outros</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Serviços <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/servicos"> Listagem e Taxas </a></li>
                            <li><a href="/requerimento"> Requerimento </a></li>
                            <li><a href="/requerimento/consultar"> Consultar Estado </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sua Participação <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/questionario">Questionários</a></li>
                            <li><a href="/votacao">Votações</a></li>
                            <li><a href="/ocorrencia">Relato de Ocorrências</a></li>
                        </ul>
                    </li>
                    <li><a href="/contactos">Contactos</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="tabs2">
        <table class="table">
            {% if opt == '1' %}
            <script>
                                    $( document ).ready(function() {
                                        document.title = 'Votações';
                                        document.getElementById('titulo1').innerHTML = "<h1>" + 'Votações' + "</h1>";
                                    });
                                </script>
            {% if poll_query.values.first != None %}
            {% for b in poll_query %}
            <tr>
                <th class="metade"> Titulo </th>
                <th> Data Inserção </th>
                <th>  </th>
            </tr>
            <tr>
                <td>{{ b.titulo }} </td>
                <td>{{ b.data_insercao }}</td>
                <td> <a href='/votacao/{{ b.id }}'> Votar </a></td>
                <td> <a href='/votacao/votos/{{ b.id }}'> Resultados </a></td>
            </tr>
            <tr>
                <th> Descricao </th>
            </tr>
            <tr>
                <td colspan="3" class="margem"> {{ b.descricao }}</td>
            </tr>

            {% endfor %}
            {% else %}
            <div class = "textclass">
                <h2> Sem Questionários Disponíveis </h2>
            </div>
            {% endif %}
            {% elif opt == '2' %}
            {% if poll_query.values.first != None %}
            {% for b in poll_query %}
            <script>
                                            $( document ).ready(function() {
                                                document.title = '{{ b.titulo }}';
                                                document.getElementById('titulo1').innerHTML = "<h1>" + '{{ b.titulo }}' + "</h1>";
                                            });
                                        </script>

            <tr>
                <th class="terco"> Titulo </th>
                <th class="terco"> Descrição </th>
                <th class="terco"> Data Inserção </th>
            </tr>
            <tr>
                <td class="terco">{{ b.titulo }}</td>
                <td class="terco">{{ b.descricao }}</td>
                <td class="terco">{{ b.data_insercao }}</td>
            </tr>

            <tr>
                <td colspan="3" class="margem2">
                    {% if opcoes %}
                    <form method="post" action="votar" id="voteForm"> {% csrf_token %}
                        {% for opcao in opcoes %}
                        <p>
                            <input type="radio" name="choice" id="choice" value="{{opcao.id}}">
                            {{opcao.texto}}
                            </input>
                        </p>
                        {% endfor %}
                        <input class="btn2" type="submit" id="submit" value="Votar" />
                    </form>
                    {% else %}
                    <p> Não podem ser adicionador votos! </p>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
            {% else %}
            <div class = "textclass">
                <h2> A votação não existe </h2>
            </div>
            {% endif %}
            {% endif %}
        </table>
    </div>
</div>

<div class="container">
    <div class="menutwo">
        <div class="featuredtwo">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Livro de Visitas</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Mapa do Site</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="copy-rights">
        Copyright(c) Portal da Junta @ 2017. <strong> Designed by: </strong> Ricardo Auxiliar
    </div>
</div>

<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>
