<!DOCTYPE html>
<html lang="en">

<head>
    {%  load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Erro </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static "css/error.css" %}">
</head>

<body marginwidth="0" marginheight="0">
<div id="block_error">
    <div>
        <h2> Error 404. Necessita de autenticação </h2>
        <p>
            Para visualizar o conteúdo pretendido necessita de estar autenticado.
        </p><br />
        <p>
            Voltar ao início <a href="/"> Início </a>.
        </p>
    </div>
</div>
</body>
</html>
